<html>
    <title>Register Success</title>
    <body>
        <h1>Registeration sucess</h1>
        <table>
            <tr>
                <td>First Name</td>
                <td>{{fname}}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{lname}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{city}}</td>
            </tr>
        </table>
        
    </body>
</html>