<!DOCTYPE html>
<html>
<body>
<h3>Register Form</h3>

<form>

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example1">First name:</label>
        <input type="text" id="form3Example1" class="form-control" />
        
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Last name:</label>
        <input type="text" id="form3Example2" class="form-control" />
        
      </div>
    </div>
  </div>

 
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Age:</label>
    <input type="text" id="form3Example3" class="form-control" />
    
  </div>

  
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example4">City:</label>
    <input type="text" id="form3Example4" class="form-control" />
    
  </div>

  

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

</form>
  <!-- <form action="/conform" method="post">
    <label for="fname">First Name: </label><br>
    <input type="text" id="fname" name="firstname" placeholder="Your name.."><br><br>
    <label for="lname">Last Name: </label><br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br><br>
    <label for="age">Age:</label><br>
    <input type="text"  name="age"><br><br>
    <label for="city">City:</label><br>
    <input type="text"  name="city"><br><br>
    <input type="submit" value="Register">
  </form> -->


</body>
</html>